html {
    background-color: black;
}

header {
    width: 100%;
    height: 100px;
    background-color: red;
    text-align: center;
    color: black; 
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    border-radius: 10px;
    
}

.menu {
    width: 100%;
    height: 75px;
    background-color: yellow;
    text-align: center;
    color: black; 
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    border-radius: 10px;
}

main {
    width: 100%;
    height: 300px;
    background-color: greenyellow;
    text-align: left;
    color: black; 
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    border-radius: 10px;
}

footer {
    width: 100%;
    height: 50px;
    background-color: lightpink;
    text-align: center;
    color: white; 
    justify-content: center;
    align-items: center;
    display: flex;
}

